@import '@fontsource/ibm-plex-sans/latin-400.css';
@import '@fontsource/ibm-plex-sans/latin-500.css';
@import '@fontsource/ibm-plex-sans/latin-600.css';
@import '@fontsource/ibm-plex-sans/latin-700.css';
@import '@fontsource/ibm-plex-sans-condensed/latin-400.css';
@import '@fontsource/ibm-plex-sans-condensed/latin-500.css';
@import '@fontsource/ibm-plex-sans-condensed/latin-600.css';
@import '@fontsource/ibm-plex-sans-condensed/latin-700.css';
@import '@fontsource/ibm-plex-sans/latin-400-italic.css';
@import '@fontsource/ibm-plex-sans/latin-500-italic.css';
@import '@fontsource/ibm-plex-sans/latin-600-italic.css';
@import '@fontsource/ibm-plex-sans/latin-700-italic.css';
@import '@fontsource/ibm-plex-sans-condensed/400-italic.css';
@import '@fontsource/ibm-plex-sans-condensed/500-italic.css';
@import '@fontsource/ibm-plex-sans-condensed/600-italic.css';
@import '@fontsource/ibm-plex-sans-condensed/700-italic.css';
@import '@fontsource/ibm-plex-mono/latin-400.css';
@import '@fontsource/ibm-plex-mono/latin-500.css';
@import '@fontsource/ibm-plex-mono/latin-600.css';
@import '@fontsource/ibm-plex-mono/latin-700.css';
@import './global.css';

@theme {
  /* Your preferred text font. Starlight uses a system font stack by default. */
  --font-sans: 'IBM Plex Sans', 'sans-serif';
  /* Your preferred code font. Starlight uses system monospace fonts by default. */
  --font-mono: 'IBM Plex Mono', 'monospace';
}

/* https://starlight.astro.build/guides/css-and-tailwind/#color-theme-editor */
/* Dark mode colors. */
:root {
	--sl-color-accent-low: #072d00;
	--sl-color-accent: #247f00;
	--sl-color-accent-high: #aad7a0;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eaf0e8;
	--sl-color-gray-2: #bdc4bb;
	--sl-color-gray-3: #82907f;
	--sl-color-gray-4: #4f5c4d;
	--sl-color-gray-5: #303c2d;
	--sl-color-gray-6: hsl(108, 10%, 14%);
	--sl-color-black: #151a13;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c0e2b8;
	--sl-color-accent: #63805E;
	--sl-color-accent-high: #0d3e00;
	--sl-color-white: #151a13;
	--sl-color-gray-1: #1f2a1c;
	--sl-color-gray-2: #303c2d;
	--sl-color-gray-3: #4f5c4d;
	--sl-color-gray-4: #82907f;
	--sl-color-gray-5: #bdc4bb;
	--sl-color-gray-6: #eaf0e8;
	--sl-color-gray-7: #f4f7f3;
	--sl-color-black: #ffffff;
}

/* DEFAULT */
/* Dark mode colors. */
/* :root {
	--sl-color-accent-low: #131e4f;
	--sl-color-accent: #3447ff;
	--sl-color-accent-high: #b3c7ff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
} */
/* Light mode colors. */
/* :root[data-theme='light'] {
	--sl-color-accent-low: #c7d6ff;
	--sl-color-accent: #364bff;
	--sl-color-accent-high: #182775;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
} */